<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    {{ encore_entry_link_tags('app') }}
    {% block head_javascripts %}{% endblock %}
</head>
<body class="c-app flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>